<div class="discount-category__navbar discount-category__navbar_stable">
      <nav class="menu col-12 d-flex justify-content-center navbar navbar-expand-lg">
        <button class="navbar-toggler promo-catalog__filter-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          Фильтрация <img src="img/btn-arrow.svg">
        </button>
        <div class="navbar-collapse collapse promo-catalog__filter_navbar" id="navbarSupportedContent" style="">
         <ul class="navbar-nav mr-auto" style="display:block;">
           <h2 class="discount-category__caption">Категории</h2>
           <div class="discount-category">

             <div id="filter-manufacture" class="filter-list collapse show">
               <div class="filter-list__container">
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Кухни и бытовая техника</span>
                   <p class="filter__num">4</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Кухонные аксессуары</span>
                   <p class="filter__num">12</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Кровати</span>
                   <p class="filter__num">33</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Матрасы</span>
                   <p class="filter__num">54</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Столы</span>
                   <p class="filter__num">123</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Cтулья</span>
                   <p class="filter__num">533</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Мягкая мебель</span>
                   <p class="filter__num">13</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Хранение одежды и обуви</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Мебель и сантехника для ванной</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Зеркала</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span>Хранение одежды и обуви</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
               </div>
               <!-- /filter-list__container -->
               <div class="filter__show-more">
                 <span class="filter__show-text">ещё</span>
                 <div class="filter__show-more-dots">
                   <span></span>
                   <span></span>
                   <span></span>
                 </div>
               </div>
             </div>

           </div>

           <!-- <a href="#" class="discount__link">
             Как это работает?
           </a> -->
           <button type="button" class="filter-list_btn cta-btn__full" data-toggle="modal" data-target="#exampleModalCenter">
             Разместить промокод
           </button>
         </ul>
      </div>
      </nav>
</div>

<div class="promo-card__shops promo-card__shops_left">
  <h2 class="promo-card__shops-caption d-flex align-items-center">Магазины<a href="#">Смотреть все</a></h2>
  <div class="row">
    <div class="col-md-6 col-6">
      <a href="#" class="cards__item cards__item-left">
        <div class="cards__img-left d-flex align-items-center justify-content-center">
          <img src="/img/1.png" alt="">
        </div>
        <div class="cards__pre-offers">
          <span href="#" class="cards__offers">36 предложений</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-6">
      <a href="#" class="cards__item cards__item-left">
        <div class="cards__img-left d-flex align-items-center justify-content-center">
          <img src="/img/1.png" alt="">
        </div>
        <div class="cards__pre-offers">
          <span href="#" class="cards__offers">36 предложений</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-6">
      <a href="#" class="cards__item cards__item-left">
        <div class="cards__img-left d-flex align-items-center justify-content-center">
          <img src="/img/1.png" alt="">
        </div>
        <div class="cards__pre-offers">
          <span href="#" class="cards__offers">36 предложений</span>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-6">
      <a href="#" class="cards__item cards__item-left">
        <div class="cards__img-left d-flex align-items-center justify-content-center">
          <img src="/img/1.png" alt="">
        </div>
        <div class="cards__pre-offers">
          <span href="#" class="cards__offers">36 предложений</span>
        </div>
      </a>
    </div>
  </div>
</div>
